// Page Globals
// ------------
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $brand-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-font-color;
  background-color: $body-background-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Links
// -----
a {
  text-decoration: none;
  color: $brand-green;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: darken($brand-green, 10%);
  }
}

// Images
// ------
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
