{{#> layout/layout}}
<h1>Home Page</h1>
<div>This is the home page.</div>
<div>My name is -- {{htmlWebpackPlugin.options.context.name}}</div>
<img src="images/dog.jpg" alt="Dog">
<a href="/about">Go to about page</a>
{{/layout/layout}}
