// Display Helpers
// ---------------
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}

@each $breakpoint in map-keys($breakpoints) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    .d-none-#{$breakpoint} {
      display: none !important;
    }
    .d-block-#{$breakpoint} {
      display: block !important;
    }
    .d-flex-#{$breakpoint} {
      display: flex !important;
    }
  }
}
