// Layout Helpers
// --------------
.content-padding {
  padding: map-get($content-padding, "base");
}

.content-padding-x {
  padding: 0 map-get($content-padding, "base");
}

.content-padding-y {
  padding: map-get($content-padding, "base") 0;
}

@each $breakpoint in map-keys($breakpoints) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    $spacing-value: map-get($content-padding, $breakpoint);

    .content-padding {
      padding: $spacing-value;
    }

    .content-padding-x {
      padding: 0 $spacing-value;
    }

    .content-padding-y {
      padding: $spacing-value 0;
    }
  }
}
